
.container-fluid{
    & .footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .contact-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    & .footer-navigation {
        display: flex;
        flex-direction: column;
        width: 30%;

        & .navigation-txt {
            font-family: Montserrat;
            font-weight: 700;
            font-size: 25px;
            margin-bottom: 10px;
            text-decoration: none;
            color: #828C76;
        }

        & .footer-link:hover {
            color: white;
            transition: color .15s ease-in-out;
        }
    }

    & .footer-coupon {
        display: flex;
        flex-direction: column;
        width: 25%;
        & span {
            font-size: 1.2rem;
        }
    } 
}